body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin:15px 30px;
}
.h2{
    font-size:18px;
}
.btn_publish {
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width:40px;
    height:40px;
    margin-top:6px;
}
.text_desc{
    font-size:12px;
    font-weight:normal;
    color:#999;
}
.span{
    font-size:15px;
    font-weight:bold;
    font-weight:normal;
    color:#000;
}
a:hover{
    text-decoration:none;
}