
.profile .section{
    margin-top: 15px;
}
.community_menu{
    font-size: 13px;
    color: #999;
}
.jumbotron{
    margin: 50px;
}
.media{
    margin-bottom: 5px;
}
.btn-comment{
    margin: 10px;
    float: right;
}